name: CICD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  feast:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test activate conda environment
        shell: bash
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate churn_mlops

      - name: Verify Current Path
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline/churn_feature_store/churn_features/feature_repo
        run: |
          pwd

      - name: Apply Feast Feature Definitions
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline/churn_feature_store/churn_features/feature_repo
        run: |
          conda run -n churn_mlops feast apply

      - name: Materialize Feast Features
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline/churn_feature_store/churn_features/feature_repo
        run: |
          conda run -n churn_mlops feast materialize-incremental $(date -u +"%Y-%m-%dT%H:%M:%S")


  training:
    runs-on: [self-hosted, linux]
    needs: feast
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Activate conda environment
        shell: bash 
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate mlops_2026

      - name: Verify Current Path
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          pwd

      - name: Run Training
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system
        run: |
          conda run -n mlops_2026 bash ./src/run_sh/train.sh | tee train.log
          RUN_ID=$(grep -oE 'runs/[a-f0-9]+' train.log | head -n1 | cut -d/ -f2)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Debug RUN_ID
        run: echo "The RUN_ID is ${{ env.RUN_ID }}"

      - name: Run Evaluation
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system
        run: |
          conda run -n mlops_2026 bash ./src/run_sh/eval.sh --run-id ${{ env.RUN_ID }} | tee eval.log

      - name: Run Registration
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system
        run: |
          conda run -n mlops_2026 bash ./src/run_sh/register.sh --run-id ${{ env.RUN_ID }} | tee register.log

      - name: Update Model Version Alias
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system
        run: |
          conda run -n mlops_2026 bash ./src/run_sh/set_model_alias.sh

      - name: Promote to Champion
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system
        run: |
          conda run -n mlops_2026 bash ./src/run_sh/promote.sh

  serving: 
    runs-on: [self-hosted, linux]
    needs: training

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Activate conda environment
        shell: bash
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate mlops_2026_fix
      
      - name: Start API Service
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/serving
        run: |
          docker compose up -d --build
        
